<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<div class="form-container">
    <form (submit)="CreateAvailability()">
        <mat-form-field>
            <input [(ngModel)]="startTime" type="time" name="startTime" matInput placeholder="startTime" id="text"
                class="timepicker" />
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="endTime" type="time" name="endTime" matInput placeholder="endTime">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="slot" type="number" name="slot" matInput placeholder="slot" min="1">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Day</mat-label>
            <mat-select [(ngModel)]="day">
                <mat-option  *ngFor="let item of days" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary">Create Availability</button>
            </div>
            <div class="col">
                <button mat-raised-button color="primary" (click)="restForm()">RESET</button>
            </div>
        </div>
    </form>
</div>